env
**/*.pyc
**/__pycache__
media
.DS_Store
*.sqlite3
*.env

# Accept these files in the repository
!.gitignore
!.travis.yml
/.env
/.vscode

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/media
venv
/statics